<!DOCTYPE html>
<html>
    <head>
        <title>Login</title>
        <style>
            /*CSS */
            body {
                background-color: #5d7086;
                display: flex;
                justify-content: center;
                align-items: center;

            }
        </style>
    </head>
    <body>
        <h1>Inicio de Sesion</h1>
        {% if error %}
            <p style="color:rgb(158, 45, 0);">{{error}}</p>
        {% endif %}
        <form method="POST" action="/login">
            <label for="username">Usuario</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="username">Password</label>
            <input type="text" id="password" name="password" required><br><br>
            <input type="submit" value="Login">
        </form>
        <a href="/register">Crear Usuario</a>
    </body>
</html>