<!DOCTYPE html>
<html>
    <head>
        <title>Register</title>
    </head>
    <body>
        <h1>Registrar Usuario</h1>
        <form method="POST" action="/register">
            <label for="username">Usuario:</label>
            <input type="text" id="username" name="username" required><br><br>
            <label for="username">Password</label>
            <input type="text" id="password" name="password" required><br><br>
            <input type="submit" value="Register">
        </form>
    </body>
</html>